$icon-image-path: 'nib-styles-contact-us-icons';

@mixin icon-contact {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

@mixin icon-contact-large {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

@mixin icon-contact-small {
  @include icon-contact;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}



.icon-contact-phone {
  @include icon-contact;
  background: url('images/phone.png');
}

.icon-contact-mail {
  @include icon-contact;
  background: url('images/mail.png');
}

.icon-contact-fax {
  @include icon-contact;
  background: url('images/fax.png');
}

.icon-contact-link {
  @include icon-contact;
  background: url('images/link.png');
}

.icon-contact-chat {
  @include icon-contact;
  background: url('images/chat.png');
}

.icon-contact-pin {
  @include icon-contact-small;
  background: url('images/pin.png');
}

.icon-contact-twitter {
  @include icon-contact-large;
  background: url('images/twitter.png');
}

.icon-contact-facebook {
  @include icon-contact-large;
  background: url('images/facebook.png');
}